/** Add css rules here for your application. */
html {
	background-color: #fffaf7;
	width: 100%;
	height: 100%;
}
h1 {
	background-color: #fffaf7;
	background: url(images/Strippes.png) center repeat-x;
	background-size: 240px;
	height: 105px;
	background-color: #fffaf7;
	margin: 0px;
	padding-top: 50px;
	width: 100%;
}
h2 {
	margin: 0px;
	background-color:#fffaf7;
	width: 100%;
	padding: 10px 0px 30px 0px;
	text-indent: 30px;
}
.PanelForm {
	width: 90%;
	heigth: 90%;
	padding-right:30px;
	padding-left: 30px;
	padding-bottom: 20px;
	background:#fffaf7;
	margin: 0px;
}
.mapPanelForm{
  border: 1px solid #c0c0c0;	
}

.menuPanel {
 background-color: #a90329;
 margin: 0px;
 padding: 0px;
 align: left;
}

.button {
 border:4px solid #77021d;-webkit-box-shadow: #b4b5b5 0px 2px 2px ;-moz-box-shadow: #b4b5b5 0px 2px 2px ; box-shadow: #b4b5b5 0px 2px 2px ; font-size:13px;font-family:arial, helvetica, sans-serif; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: 2px 2px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
 cursor: pointer;
}
.button:hover {
 border:4px solid #77021d;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}
.button:active {
}
.tablePanel {
	 width: 90%;
	 height: 600px;
	margin: 0px;
}
.diagramPanel {
	height: 600px;
}
.downloadButton {
  background: url("images/download.png") no-repeat center left;
  background-size: 30px;
  height: 30px;
  width: 135px;
  font-variant: small-caps;
  font-family: 'Muli', sans-serif;
  color: #f6f6f6;
  text-align: right;
  font-size: 1.4em;
  cursor: pointer;
  border-radius:6px;
  border:2px solid #77021d;
  background-color: #77021d;
}
.downloadButton:hover {
	background-color: #3a000d;
 }
.helpButton {
	height: 30px;
	width: 30px;
	text-align: center;
	font-size: 20px;
	color: #ebebeb;
	border-radius: 24px;
	border: 2px solid #808080;
	cursor: pointer;
	font-family: 'Muli', sans-serif;
	background-color: #a7cfdf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
 	background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
 	background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
	background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
 	background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
 	background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
}
.helpButton:hover {
 border:1px solid #5ca6c4;
 background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
 background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
 background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
 background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
 background-image: -o-linear-gradient(top, #82bbd1, #193b61);
 background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}
/* movie list header row */
.movieListHeader {
  background-color: #8d0c0f;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 50px;
  font-stretch: ultra-expanded;
  font-variant: small-caps; 
  width: 100%;

}
/* movie list Year and Duration fields */
.movieListNumericColumn {
  text-align: center;
  width:8em;
}
/* movie list flex table */
.movieList {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid silver;
  padding: 2px;
  width: 100%;
}

/*movie list flex table cell*/
.movieFlexTableEvenRow {
  background-color: #d5b9b2;

}
.movieFlexTableEvenRow:hover {
  background-color: #bf8b86;
}
.rowStyle:hover {
  background-color: #bf8b86;
}

/* Add Movie panel */
.addPanel {
 width: 90%;
 height: 500px;
 padding-bottom: 50px;
}

/*filter Names */
.filterName {
  width: 155px;
}
.filterName:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #8d0c0f;
}
/*DropDownBox Style*/
.dropDownBox {
  width:180px;
}

/* Filter Style for from/to */
.durationStyle {
	text-align: left;
	width: 60px;
}
.durationStyle:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #8d0c0f;
}
/* Filter Style for from/to */
.earningsStyle {
	text-align: left;
	width: 80px;
}
.earningsStyle:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #8d0c0f;
}
.filterTableStyle{
	text-align: left;
	width: 60px;
	font-family: 'Muli', sans-serif;
}
.resetButton{
 border-width: 0px 0px 2px 0px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
 cursor: pointer;
 height: 30px;
 width: 90px;
}
.resetButton:hover {
 border-width: 0px 0px 2px 0px;border-style: solid;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
	
}
.optionsButton {
 border-width: 0px 0px 2px 0px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF; background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
 cursor: pointer;
 height: 30px;
 width: 150px;
}
.optionsButton:hover {
 border-width: 0px 0px 2px 0px;border-style: solid;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}
/*PageButton Style */
.pageButton {
 height: 30px;
 border-width: 0px 0px 2px 0px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019)); 
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
 cursor: pointer;
}
.pageButton:hover {
 border-width: 0px 0px 2px 0px;border-style: solid;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}
.movieCount{
 height: 30px;
 border-width: 0px 0px 2px 0px;border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019)); 
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
 cursor: pointer;
}
.movieCount:hover {
 border-width: 0px 0px 2px 0px;border-style: solid;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}
.class {
  overflow-x: auto;
}
.label1 {
 padding-top: 50px;
 text-align: center;
 font-weight: bold;
 font-size: 50px;
}
.label2 {
	padding-top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	padding-bottom: 50px;
}
#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	padding-top: 5px;
	text-align: right;
	padding-right: 50px;
	background-color: #fffaf7;
}
#advertisement {
	padding-left:50px;
	padding-right:50px;
	background-color: #fffaf7;
}